version: '3.8'

services:
  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:senha_secreta@db:5432/sistema_artigos?schema=public
      - JWT_SECRET=chave_super_secreta_jwt
    depends_on:
      db:
        condition: service_healthy #
    restart: always
    command: >
      sh -c "npx prisma migrate deploy && npx prisma db seed && npm run start:prod"

  db:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: senha_secreta
      POSTGRES_DB: sistema_artigos
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: